.section-header {
    border-bottom: 1px solid var(--footer-txt-cl);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-bg-cl);
    z-index: 1;
}

.logo-link {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-txt-cl);
    font-family: var(--secondary-font);
}

.logo-color {
    color: var(--logo-darck-cl);
}

.logo-link.second {
    color: var(--logo-light-cl);
    line-height: calc(21 / 18);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 120px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nav-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;

    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-txt-cl);

    transition: color var(--trans-set);
}

.contact-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-txt-cl);

    transition: color var(--trans-set);
}

.nav-link:hover,
.nav-link:focus,
.policy-link:hover,
.policy-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--pressed-txt-cl);
}