<!--  Advantags  -->
<section class="advantags section-advantags">
  <div class="container">
    <h2 class="advantags-caption visually-hidden">Our advantags</h2>
    <ul class="advantags-list card-set list">
      <li class="advantags-item items-set">
        <div class="advantags-icon-container">
          <svg class="icon" width="64" height="64">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="advantags-title title-txt">Strategy</h3>
        <p class="advantags-disc desc-txt">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>
      <li class="advantags-item items-set">
        <div class="advantags-icon-container">
          <svg class="icon" width="64" height="64">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="advantags-title title-txt">Punctuality</h3>
        <p class="advantags-disc desc-txt">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>
      <li class="advantags-item items-set">
        <div class="advantags-icon-container">
          <svg class="icon" width="64" height="64">
            <use href="./images/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="advantags-title title-txt">Diligence</h3>
        <p class="advantags-disc desc-txt">
          Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>
      <li class="advantags-item items-set">
        <div class="advantags-icon-container">
          <svg class="icon" width="64" height="64">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="advantags-title title-txt">Technologies</h3>
        <p class="advantags-disc desc-txt">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
    </ul>
  </div>
</section>
