<header class="header section-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo-link link"
        ><span class="logo-color">Web</span>Studio</a
      >
      <ul class="nav-list list hidden">
        <li class="nav-list-item">
          <a href="./index.html" class="nav-link link current">Studio</a>
        </li>
        <li class="nav-list-item">
          <a href="./portfolio.html" class="nav-link link">Portfolio</a>
        </li>
        <li class="nav-list-item">
          <a href="#contact" class="nav-link link">Contacts</a>
        </li>
      </ul>
    </nav>

    <address class="contact">
      <ul class="contact-list list hidden">
        <li>
          <a href="mailto:info@devstudio.com" class="contact-link link"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a href="tel:+11(000)1111111" class="contact-link link"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button
      class="mobile-menu-burger js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-burger-icon" width="32" height="22">
        <use href="./images/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
  </div>
</header>
