<!-- Mobile menu -->
<div class="mobile-container js-menu-container" id="mobile-menu">
  <button type="button" class="btn btn-modal-close js-close-menu">
    <svg class="icon-modal" width="8" height="8">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile nav-list list">
    <li class="mobile nav-list-item">
      <a href="./index.html" class="mobile nav-link link current-mobile"
        >Studio</a
      >
    </li>
    <li class="mobile nav-list-item">
      <a href="./portfolio.html" class="mobile nav-link link">Portfolio</a>
    </li>
    <li class="mobile nav-list-item">
      <a href="#contact" class="mobile nav-link link">Contacts</a>
    </li>
  </ul>

  <div class="wrapper">
    <ul class="mobile contact-list list">
      <li>
        <a
          href="mailto:info@devstudio.com"
          class="mobile-email contact-link link"
          >info@devstudio.com</a
        >
      </li>
      <li>
        <a href="tel:+11(000)1111111" class="mobile-tel contact-link link"
          >+11 (000) 111-11-11</a
        >
      </li>
    </ul>

    <ul class="list mobile list-social-media">
      <li class="item-social-media">
        <a class="link-social-media link" href="" aria-label="Instagram">
          <svg class="" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="item-social-media">
        <a class="link-social-media link" href="" aria-label="Twiter">
          <svg class="" width="24" height="24">
            <use href="./images/icons.svg#icon-twiter"></use>
          </svg>
        </a>
      </li>
      <li class="item-social-media">
        <a class="link-social-media link" href="" aria-label="Facebook">
          <svg class="" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="item-social-media">
        <a class="link-social-media link" href="" aria-label="Linkedin">
          <svg class="" width="24" height="24">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
