<!-- Product -->
<section class="product section-product">
  <div class="container">
    <h2 class="product-title">What are we doing</h2>
    <ul class="product-list list card-set">
      <li class="product-item items-set">
        <img
          loading="lazy"
          srcset="
            ./images/what-are-we-doing/img-1_desk_360_1x.jpg 1x,
            ./images/what-are-we-doing/img-1_desk_720_2x.jpg 2x
          "
          src="./images/what-are-we-doing/img-1_desk_360_1x.jpg"
          alt="PC"
          width="360"
          height="300"
        />
      </li>
      <li class="product-item items-set">
        <img
          loading="lazy"
          srcset="
            ./images/what-are-we-doing/img-2_desk_360_1x.jpg 1x,
            ./images/what-are-we-doing/img-2_desk_720_2x.jpg 2x
          "
          src="./images/what-are-we-doing/img-2_desk_360_1x.jpg"
          alt="A lot of phones"
          width="360"
          height="300"
        />
      </li>
      <li class="product-item items-set">
        <img
          loading="lazy"
          srcset="
            ./images/what-are-we-doing/img-3_desk_360_1x.jpg 1x,
            ./images/what-are-we-doing/img-3_desk_720_2x.jpg 2x
          "
          src="./images/what-are-we-doing/img-3_desk_360_1x.jpg"
          alt="Phone"
          width="360"
          height="300"
        />
      </li>
    </ul>
  </div>
</section>
